# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Temporary files
*.pyc
*.swp

# Exported notebooks
*.html

# Environment files
.env
.venv
env/
venv/

notebooks/output
input.html

.DS_Store
